@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: "Roboto", "Time News Roman";
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.container {
    background-color: rgb(48, 48, 48);
    border-radius: 5px;

}

#intro-container {
    color: white;
    width: 100px;
    padding: 20px;
    height: 540px;
}

#grid-container {
    padding: 20px;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 540px;
    gap: 30px;
    align-items: center;

    padding: 20px;
}

#buttons-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: white;
    text-align: center;
}

#grid {
    display: inline-grid;
    
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.square {
    background: white;
    border: 0.5px solid rgb(170, 168, 168);
    margin: 0;
}

.grid-10x10 {
    grid-template-columns: repeat(10, auto);
}

.grid-10x10 > .square {
    height: 48px;
    width: 48px;
}

.grid-20x20 {
    grid-template-columns: repeat(20, auto);
}

.grid-20x20 > .square {
    height: 23.5px;
    width: 23.5px;
}

.grid-30x30 {
    grid-template-columns: repeat(30, auto);
}

.grid-30x30 > .square {
    height: 15.33333px;
    width: 15.33333px;
}

button {
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 8px 0;
    width: 170px;
}

.penColor {
    height: 60px;
    width: 100px;
    border: 1px solid white;
}